// Box layout

.box-layout {
  align-items: center;
  background: url('/images/bg1.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

}

.box-layout__box {
  background:  rgba(242, 242, 242, 0.75);
  border: 2px solid #f2f2f2;
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 30rem;
}

.box-layout__title {
  background: linear-gradient(to right, #dd5e89, #f7bb97);
  background: -webkit-linear-gradient(to right, #dd5e89, #f7bb97); /* Chrome 10-25, Safari 5.1-6 */
  font-size: 5rem;
  margin: 0 0 $m-size 0;
  line-height: 1;
  letter-spacing: 2.5px;
  text-transform: lowercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-layout__caption {
  font-size: 1.7rem;
}
