// Colors
$button-color: indianred;
$blue: #8eb8e1;
$dark-grey: #333333;
$grey: #666;
$off-white: #f7f7f7;
$white: #ffffff;

// Font Size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
// Spacing
// m-size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;
